.footer{
  color: azure;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 80px;
  gap: 20px;
  margin-top: 100px;
}

.footer-content{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 70px;
}

.footer-content-center ul{
  padding-left: 20px;
}

.footer-content-right li, .footer-content-left li, .footer-content-center li{
  list-style: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.footer-social-icons img{
  width: 40px;
  margin-right: 15px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .footer-content{
      grid-template-columns: 1fr 1fr 1fr;
      gap: 50px;
  }
}

@media (max-width: 900px) {
  .footer-content{
      grid-template-columns: 1fr;
      gap: 30px;
  }

  .footer-content-center ul{
      padding-left: 10px;
  }

  .footer-social-icons img{
      width: 30px;
      margin-right: 10px;
      margin-top: 5px;
  }
}

@media (max-width: 750px) {
  .footer-content{
      display: flex;
      flex-direction: column;
      gap: 35px;
  }

  .footer-content-center ul{
      padding-left: 5px;
  }

  .footer-social-icons img{
      width: 25px;
      margin-right: 5px;
      margin-top: 5px;
  }
}
