.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  width: 250px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: rgb(22, 23, 24);
  font-size: 18px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

hr {
  background-color: black;
}

.navbar button {
  background: transparent;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  box-sizing: 16px;
  transition: 0.3s;
  color: #49557e;
}

.navbar button:hover {
  background-color: aqua;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(238, 29, 29);
}
.navbar li {
  cursor: pointer;
}
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}

.navbar-profile {
  position: relative;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: whitesmoke;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-profile-dropdown li:hover {
  color: tomato;
}

.nav-profile-dropdown img {
  width: 30px;
}

.navbar .search-form {
  position: absolute;
  top: 114%;
  right: 7%;
  background-color: antiquewhite;
  width: 50rem;
  height: 5 rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}
.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  text-transform: none;
}

.navbar .search-form.active {
  transform: scaleY(1);
}
