.frm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 500px; /* Adjust or remove this margin for responsiveness */
    background-color: rgb(243, 199, 199);
    margin-top: 40px;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
input[list] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
input[list]:focus {
    border-color: #888;
    outline: none;
}

textarea {
    resize: none;
}

.bt {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.bt:hover {
    background-color: #218838;
}

.bt:focus {
    outline: none;
}

@media (max-width: 480px) {
    .frm {
        padding: 15px;
        max-width: 100%; /* Adjust max-width for full width on small screens */
        margin-left: 0; /* Remove left margin for small screens */
    }
    input[type="text"],
    input[type="number"],
    textarea,
    input[list] {
        width: calc(100% - 16px);
    }
}
